body {
    margin: 0px;
    background-color:rgb(250, 244, 245);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.case {
    background-color:rgb(92, 43, 226);
    width: 300px;
    height: 570px;
    border-radius: 10px 10px 60px 60px;
}

.comp {
    background-color: aliceblue;
    margin: 18px;
}

#pantalla {
    background-color: rgb(45, 45, 45);
    height: 220px;
    border-radius: 10px 10px 20px 20px;
}