body {
    margin: 0px;
    background-color:blueviolet;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.case {
    background-color:rgb(12, 208, 219);
    background-image: url(../img/ave-calvar-NqXqLPhdbvU-unsplash.jpg);
    background-size: cover;
    background-blend-mode:overlay;
    border: 6px outset rgb(107, 255, 255);
    width: 300px;
    height: 570px;
    border-radius: 10px 10px 60px 60px;
    box-shadow: 22px 14px rgb(106, 29, 177);
}

.texture {
    background-image: url(../img/ave-calvar-NqXqLPhdbvU-unsplash.jpg);
    background-size: cover;
    opacity: 20%;
}

.comp {
    margin: 16px;
}

#pantalla {
    background-color: rgb(36, 36, 36);
    height: 240px;
    border-radius: 10px 10px 20px 20px;
    border: 5px outset black;
    box-shadow: 4px 4px rgb(58, 255, 255);
}

.marco-pantalla {
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 8px;
}

#marco-izq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(174, 174, 174);
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 7px;
    margin-left: 8px;
}

#power {
    background: linear-gradient(to bottom right, rgb(118, 0, 0), red);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-bottom: 5px;
}

#pantalla-juego {
    margin-top: 22px;
    margin-bottom: 14px;
    background-color: rgb(161, 173, 137);
    background-image: url();
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 70%;
    border: 4px solid rgb(20, 20, 20);
}

#gameboy {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-gameboy {
    width: 130px;
}

#logo {
    height: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#logo-nintendo {
    width: 100px;
    opacity: 30%;
}

#control {
    height: 140px;
    display: flex;
}

#cruz {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cruceta {
    width: 100px;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#cruz-ver {
    background-color: rgb(59, 59, 59);
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    border-radius: 6px;
    border: 4px outset rgb(40, 40, 40);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px rgb(8, 148, 148);
}

.triangle {
    width: 20px;
    height: auto;
    margin: 6px;
}

#cruz-hor {
    background-color: rgb(59, 59, 59);
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 6px 0px rgb(8, 149, 149);
}

#boton {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#botonA {
    background-color: rgb(59, 59, 59);
    box-shadow: 4px 4px rgb(9, 158, 158);
    border: 3px outset rgb(113, 113, 113);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#botonB {
    background-color: rgb(59, 59, 59);
    box-shadow: 4px 4px rgb(9, 158, 158);
    border: 3px outset rgb(113, 113, 113);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 50px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#audio {
    height: 90px;
    display: flex;
}

.audio-btn {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.corneta {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 30%;
}

#select, #start {
    background-color: rgb(46, 46, 46);
    width: 38px;
    height: 12px;
    margin: 5px;
    border-radius: 40%;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 11px;
    text-align: center;
    color: rgb(26, 135, 135);
    box-shadow: 3px 3px rgb(9, 158, 158);
    border: 2px outset gray;
}

#rejilla {
    height: 70%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 4px;
    transform: rotate(-6deg);
}

.corneta-black {
    background-color: rgb(62, 62, 62);
    border-radius: 50%;
    box-shadow: 1px 1px rgb(9, 158, 158);
}

.corneta-gray {
    background-color: rgb(72, 125, 130);
    border-radius: 50%;
    box-shadow: 1px 1px rgb(9, 158, 158);

}